@import "reset";
@import "blocks/header";
@import "blocks/footer";

.info {
    background-color: #FFFBF6;
    text-align: center;
    padding: 32px 15px 73px;
    min-height: calc(100vh - 430px - 83px);
    margin-top: 72px;

    @media (min-width: 768px) {
        padding: 53px 15px 150px;
        min-height: calc(100vh - 430px - 83px);
        margin-top: 82px;
    }

    &__img {
        width: 100%;
        height: auto;
        max-width: 420px;
    }

    &__title {
        font-weight: normal;
        font-size: 40px;
        line-height: 56px;
        margin: -4px 0 10px;

        @media (min-width: 768px) {
            font-size: $not-found;
            margin: -8px 0 20px;
        }
    }

    &__descr {
        font-style: italic;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px;

        @media (min-width: 768px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 30px;
            font-style: normal;
        }
    }

    &__email {
        color: $black;
        transition: .2s linear;
        line-height: 100%;
        display: inline-block;

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $black;
            margin-top: -2px;
            opacity: 1;
            transition: $transition;
    
            @media (min-width: 992px) {
                margin-top: -3px;
                opacity: 0;
            }
        }
    
        &:hover {
            &:after {
                opacity: 0;

                @media (min-width: 992px) {
                    opacity: 1;
                }
            }
        }
    }

    &__link {
        color: $black;
        padding: 14px 47px;
        background-color: $submit;
        border-radius: 5px;
        transition: .2s linear;
        width: 100%;
        max-width: 401px;
        display: block;
        margin: 0 auto;
        font-style: italic;
        font-size: 24px;
        line-height: 34px;

        &:hover {
            background-color: $submit-hover;
        }
    }
}