@import "mixins";

@font-face {
  font-family: 'Berlingske Serif';
  src: local('Berlingske Serif Light Italic'), local('Berlingske-Serif-Light-Italic'),
      url('../fonts/BerlingskeSerifDisplay-LightItalic.otf') format('opentype'),
      url('../fonts/BerlingskeSerif-LtItalic.woff2') format('woff2'),
      url('../fonts/BerlingskeSerif-LtItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Berlingske Serif';
  src: local('Berlingske Serif Light'), local('Berlingske-Serif-Light'),
      url('../fonts/BerlingskeSerifDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Berlingske Serif';
  src: local('Berlingske Serif Italic'), local('Berlingske-Serif-Italic'),
  url('../fonts/BerlingskeSerifDisplay-LightItalic.otf') format('opentype'),
      url('../fonts/BerlingskeSerif-Italic.woff2') format('woff2'),
      url('../fonts/BerlingskeSerif-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Berlingske Serif';
  src: local('Berlingske Serif Regular'), local('Berlingske-Serif-Regular'),
      url('../fonts/BerlingskeSerifDisplay-Regular.otf') format('opentype'),
      url('../fonts/BerlingskeSerif-Regular.woff') format('woff2'),
      url('../fonts/BerlingskeSerif-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: local('Graphik LCG Regular'), local('Graphik-LCG-Regular'),
      url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
      url('../fonts/GraphikLCG-Regular.woff') format('woff'),
      url('../fonts/GraphikLCG-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


/*----------------------------------------------------------------------------------//
//------------------------------RESET DEFAULT STYLES--------------------------------//
//----------------------------------------------------------------------------------*/

html,body                       { width:100%; height:100%; font-size: $regular;}
body                            { padding:0; margin:0; font: $regular 'Berlingske Serif', Arial, Calibri, arial, Tahoma, sans-serif;  color: $black }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,section,input,textarea {
  padding:0;
  margin:0;
  outline:none;
  list-style:none;
  box-sizing: border-box;

}
* {
  box-sizing: border-box;
}

p {
  line-height: 26px;
}


// select, input, textarea        { font: 20px 'Roboto', Arial, Calibri, arial, Tahoma, sans-serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { text-decoration:none;}

