@import "reset";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/main-banner";
@import "libs/slick";
@import "libs/animate";
@import "blocks/instagram-section";
@import "blocks/travels";
@import "blocks/blog-section";


.main-wrap {

    @media (min-width: 1200px) {
        display: flex;
        justify-content: center;
   }
}

.main {
    display: block;
    max-width: 1440px;
    width: 100%;
    overflow: hidden;

    @media (min-width: 1200px) {
         margin-left: 50px;
    }
}

.hashtag-wrapper {
    display: none;
    
    @media (min-width: 1200px) {
        display: block;
        transform: translateX(-130%);
        width: 50px;
        padding: 150px 0 225px;
    }

    .hashtag {
        position: sticky;
        top: 140px;
        transform: rotate(90deg);
        font-size: 32px;
    }
}

    // .hashtag {
    //     display: none;

    //     @media (min-width: 1200px) {
    //         display: block;
    //         transform: rotate(90deg);
    //         // letter-spacing: 0.04em;
    //         // position: absolute;
    //         // bottom: -250px;
    //         // right: -28px;
    //         // font-size: 32px;
    //         // z-index: 0;

    //         &_fixed {
    //             position: fixed;
    //             top: 120px !important;
    //             bottom: auto !important;
    //             right: -28px;

    //             @media (min-width: 1440px) {
    //                 right: calc(50vw - 756px);
    //             }
    //         }
    //     }

    //     &_fixed-bottom {
    //         position: fixed;
    //         top: auto;
    //         bottom: 610px;
    //         right: -28px;

    //         @media (min-width: 1440px) {
    //             right: calc(50vw - 756px);
    //         }

    //     }
    // }


    //--------------History block----------------

    .history {
        @include container;
        padding: 70px 15px 0;
        position: relative;

        @media (min-width: 992px) {
            padding: 60px 50px;
        }

        @media (min-width: 1200px) {
            padding: 140px 100px;
        }

        &__title {
            @include section-title;
            max-width: 895px;
            margin-bottom: 23px;

            @media (min-width: 992px) {
                margin-bottom: 83px;
            }
        }

        &__descr {

            @media (min-width: 992px) {
                display: flex;
            }
        }

        &__descr-item {
            font-family: $graphik;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            &:first-child {
                line-height: 24px;
            }

            @media (min-width: 992px) {
                margin-right: 60px;
                margin-bottom: 0;
                max-width: 430px;

                &:first-child {
                    line-height: 26px;
                }
            }

            span {
                display: block;

                @media (min-width: 992px) {
                    margin-bottom: 26px;
                }
            }
        }
    }

    // ----------------Section offer-------------

    .offer {
        @include container;
        padding: 70px 15px 0;

        @media (min-width: 992px) {
            padding: 60px 50px;
        }

        @media (min-width: 1200px) {
            padding: 147px 98px 116px;
        }

        &__title {
            @include section-title;
            margin-bottom: 20px;

            @media (min-width: 992px) {
                margin-bottom: 52px;
                max-width: 1050px;
            }
        }

        &__list {
            counter-reset: counter;

            @media (min-width: 992px) {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                max-width: 873px;
            }
        }

        &__item {
            font-family: $graphik;
            line-height: 26px;
            margin-bottom: 20px;
            counter-increment: counter;
            display: flex;

            @media (min-width: 992px) {
                margin-bottom: 32px;
                width: 380px;
            }

            &::before {
                content: counter(counter) ". ";
                font-size: 20px;
                font-family: $main-font;
                margin-right: 20px;

                @media (min-width: 992px) {
                    margin-top: -1px;
                }
            }
        }

    }

    // -----------------------Team section------------------

    .team {
        @include container;
        padding: 0;

        @media (min-width: 992px) {
            padding: 0 50px 70px;
            position: relative;
        }

        @media (min-width: 1200px) {
            padding: 0 93px 106px;
        }

        &__title {
            @include section-title;
            margin-bottom: 15px;
            padding: 50px 15px 0;

            @media (min-width: 992px) {
                margin: 0 0 30px 5px;
                padding: 0;
            }
        }

        &__list {
            display: inline-flex;
            padding: 0 0 30px 15px;

            @media (min-width: 992px) {
                display: block;
                padding: 0;
            }
        }

        &__list-wrapper {
            overflow-x: scroll;

            @media (min-width: 992px) {
                overflow-x: visible;
            }
        }

        &__item {
            width: 302px;
            margin-right: 15px;

            @media (min-width: 992px) {
                padding: 0 7px;
                width: auto;
                margin-right: 0;
            }
        }

        &__item-img {
            width: 100%;
            height: 302px;
            object-fit: cover;
            margin-bottom: 5px;

            @media (min-width: 992px) {
                height: 401px;
                margin-bottom: 0;
            }
        }

        &__item-info {

            @media (min-width: 992px) {
                padding: 9px 0;
            }
        }

        &__item-name {
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;
            margin-bottom: 3px;

            @media (min-width: 992px) {
                font-size: $team-title;
                line-height: 43px;
                margin-bottom: 0;
            }
        }

        &__item-post {
            font-style: italic;
            font-size: $bigger;
            line-height: 38px;
            margin-bottom: 7px;

            @media (min-width: 992px) {
                margin-bottom: 10px;
            }
        }

        &__item-descr {
            font-family: $graphik;
            font-size: $regular;
            line-height: 26px;
        }
    }

    .team-slider-next,
    .team-slider-prev {
        @include btn-base;
        position: absolute;
        top: -81px;
        font-size: 38px;
        font-family: $main-font;
        transition: $transition;

        &:hover {
            color: #807E7B;
        }
    }

    .team-slider-next {
        right: 12px;
    }

    .team-slider-prev {
        right: 66px;
    }

    .slick-disabled {
        color: #807E7B;
    }