.footer {
    background-color: $main-color;
    color: $footer-color;

    &__container {
        @include container;
        padding: 70px 15px 30px;

        @media (min-width: 992px) {
            padding: 72px 100px 30px;
        }
    }

    &__title {
        @include section-title;
        margin-bottom: 33px;
        font-size: 24px;
        line-height: 34px;
        max-width: 320px;

        @media (min-width: 992px) {
            margin-bottom: 74px;
            max-width: none;
        }

        span {
            font-size: 22px;

            @media (min-width: 992px) {
                font-size: 48px;
                margin: 0 1px 0 10px;
            }
        }

        a {
            font-style: italic;
            color: $white;
            display: inline-block;

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: $footer-color;
                margin-top: -8px;
                transition: $transition;


                @media (min-width: 992px) {
                    margin-top: -6px;
                    height: 2px;
                }
            }

            &:hover:after {
                opacity: 0;
            }
        }
    }

    &__contact {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;
        font-family: $graphik;

        @media (min-width: 992px) {
            font-family: $main-font;
            margin-bottom: 95px;

        }
    }

    &__contact-tel {
        font-size: 18px;
        line-height: 34px;
        color: $footer-color;
        display: block;
        margin-bottom: 10px;

        @media (min-width: 992px) {
            font-size: $bigger;
            line-height: 34px;
            margin-bottom: 6px;
        }
    }

    &__contact-mail {
        display: inline-block;
        font-size: 18px;
        line-height: 34px;
        color: $footer-color;
        margin-bottom: 49px;

        @media (min-width: 992px) {
            font-size: $bigger;
            line-height: 34px;
        }

        @media (min-width: 1200px) {
            margin-bottom: 0;
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $footer-color;
            margin-top: -9px;
            transition: $transition;

            @media (min-width: 992px) {
                margin-top: -6px;
            }
        }

        &:hover:after {
            opacity: 0;
        }
    }

    &__social {
        display: flex;       

        @media (min-width: 992px) {
            margin-right: 28px;
        }
    }

    &__social-item-wrap {
        margin-right: 20px;

        @media (min-width: 992px) {
            margin-right: 0;
        }
    }

    &__social-item {
        font-size: 18px;
        line-height: 34px;
        color: $footer-color;
        display: block;
        margin-bottom: 20px;

        @media (min-width: 992px) {
            margin: 0 41px 10px 55px;
            font-size: $bigger;
            line-height: 34px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $footer-color;
            margin-top: -9px;
            transition: $transition;

            @media (min-width: 992px) {
                margin-top: -7px;
            }
        }

        &:hover:after {
            opacity: 0;
        }
    }

    &__address {
        display: none;

        @media (min-width: 992px) {
            display: block;
            font-size: $bigger;
            line-height: 34px;
            font-style: normal;
            min-width: 296px;

            span {
                display: block;
            }
        }
    }

    &__social-line {
        &:after {
            width: 82%;
        }
    }

    &__bottom {
        display: none;

        @media (min-width: 992px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            font-size: $bigger;
            line-height: 34px;
            padding: 0 0 0 5px;
        }
    }

    &__bottom-web {
        padding-right: 94px;
        color: $footer-color;

        span {
            @include underline;

            &:after {
                background-color: #fff;
            }
        }

        &:hover {

            span {
                &:after {
                    opacity: 1;
                }
            }
        }
        // span {
        //     text-decoration: underline;
        //     text-decoration-skip-ink: none;
        //     transition: $transition;
        //     text-decoration-color: transparent;
        // }
      
        // &:hover span {
        //     text-decoration-color: #fff;
        // }
    }

    &__bottom-partner {
        padding-left: 120px;
    }

    
}