
// ---------------Insta section--------------

.insta {
    @include container;
    padding: 79px 15px 0;
    position: relative;
    margin-bottom: 60px;

    @media (min-width: 992px) {
        padding: 0 50px;
        position: relative;
        margin-bottom: 120px;
    }

    @media (min-width: 1200px) {
        padding: 0 100px;
    }

    @media (min-width: 1100px) {

        &:before {
            content: url(../img/aa2.svg);
            position: absolute;
            top: -78px;
            right: 100px;
        }
    }

    &__title {
        @include section-title;
        font-weight: 400;
        margin-bottom: 18px;

        @media (min-width: 992px) {
            margin-bottom: 52px;
        }

        a {
            font-style: italic;
            color: $black;
            display: inline-block;
            letter-spacing: 1.5px;

            @media (min-width: 992px) {
                letter-spacing: 1.5px;
            }

            &:after {
                content: '';
                display: block;
                width: 88%;
                height: 2px;
                background-color: $black;
                margin-left: 26px;
                margin-top: -7px;
                transition: $transition;

                @media (min-width: 992px) {
                    margin-left: 44px;
                    margin-top: -10px;
                }
            }

            &:hover:after {
                opacity: 0;
            }

            span {
                margin-right: 1-7px;
                font-size: 30px;

                @media (min-width: 992px) {
                    margin-right: 10px;
                    font-size: 42px;
                }
            }
        }
    }

    &__item-wrap {
        display: flex;
        justify-content: center;

        @media (min-width: 768px) {
            width: 50%;
        }

        &:first-child {

            @media (min-width: 768px) {
                padding-right: 5px;
            }

            @media (min-width: 992px) {
                padding-right: 10px;
            }
        }

        &:last-child {
            @media (min-width: 768px) {
                padding-left: 5px;
            }

            @media (min-width: 992px) {
                padding-left: 10px;
            }
        }
    }

    &__list {
        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
        }
    }

    &__item {
        width: 167px;
        height: 167px;
        margin-bottom: 10px;
        position: relative;
        
        @media (min-width: 1200px) {
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0);
                z-index: 0;
                transition: $transition;
            }

            &:hover:after {
                background-color: rgba(255, 255, 255, .3);
            }
        }

        
        @media (min-width: 768px) {
            // max-width: 295px;
            width: 50%;
            margin: 0;
        }

        &:first-child {
            margin-right: 10px;

            @media (min-width: 992px) {
                margin-right: 20px;
            }
        }

        @media (min-width: 992px) {
            // max-width: 295px;
            width: 50%;
            height: 295px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}