.banner {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    overflow: hidden;
    margin: 71px 0 0;

    @media (min-width: 992px) {
        flex-direction: row;
        width: 100%;
        height: 562px;
        max-width: 1440px;
        margin: 82px auto 0;
        padding: 0 16px;
        position: relative;
    }

    &__info {
        background-color: $main-color;
        color: $text-color;
        padding: 40px 16px 30px;
        // position: relative;

        @media (min-width: 992px) {
            width: 52%;
            max-width: 713px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $main-color;
            color: $white;
            padding: 30px 50px 60px;
            position: relative;
            // z-index: 10;
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 12px;
        line-height: 38px;
        color: $white;

        @media (min-width: 992px) {
            font-size: $banner-title;
            margin-bottom: 17px;
            line-height: 56px;
            max-width: 520px;
        }

        .italic {
            display: block;
        }
    }

    &__descr {
        max-width: 500px;
        font-family: $graphik;
        margin-bottom: 37px;

        @media (min-width: 992px) {
            max-width: 500px;
            font-family: $graphik;
            margin-bottom: 0;
        }
    }

    &__link {
        color: $text-color;
        font-style: italic;
        font-weight: 300;
        font-size: 18px;
        display: inline-block;
        border-bottom: 1px solid $white;
        line-height: 0.9;
        transition: .2s linear;

        // &:after {
        //     content: '';
        //     display: block;
        //     width: 100%;
        //     height: 1px;
        //     background-color: $text-color;
        //     margin-top: -4px;
        //     opacity: 1;
        //     transition: .2s linear;
        // }

        &:hover {
            border-bottom: 1px solid transparent;
        }

        @media (min-width: 992px) {
            position: absolute;
            bottom: 30px;
            left: 50px;
            color: $white;
            font-style: italic;
            font-weight: 300;
            font-size: $bigger;
        }
    }

    &__img {
        height: 228px;
        position: relative;
       

        @media (min-width: 992px) {
            width: 50%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .animation-legs {
        position: absolute;
        right: 25px;
        top: 160px;
        z-index: 999;
        display: flex;

        @media (min-width: 992px) {
            top: 117px;
            left: 48%;
            right: auto;
        }
    }

    .left-leg,
    .right-leg  {
        width: 74px;
        height: 88px;

        @media (min-width: 992px) {
            width: 130px;
            height: 154px;
        }
    }
    
    .left-leg {
        transform: rotate(20deg);
        margin-right: 32px;
        margin-top: -13px;

        @media (min-width: 992px) {
            margin-right: 55px;
            margin-top: -22px;
        }
    }
}






//-------------------------Animation--------------

// @keyframes legs-move {
//     0% {
//         transform: translateX(300px);
      
//     }

//     100% {
//         transform: translateX(0);
     
//     }
// }

// @media (min-width: 992px) {
//     @keyframes legs-move {
//         0% {
//             transform: translateX(1000px);
          
//         }
            
//         100% {
//             transform: translateX(0);
         
//         }
//     }
// }

// @keyframes left-leg-rotate {
//     0% {
//         transform: rotate(20deg);
//     }

//     50% {
//         transform: rotate(-10deg);
//     }

//     100% {
//         transform: rotate(20deg);
//     }

// }

// @keyframes right-leg-rotate {
//     0% {
//         transform: rotate(0);
//     }

//     50% {
//         transform: rotate(20deg);
//     }

//     100% {
//         transform: rotate(0);
//     }
// }


// .animation-legs {
//     animation: legs-move 3s linear;

//     @media (min-width: 992px) {
//         animation: legs-move 3s linear;
//     }
  
// }


// .left-leg {
//     animation: left-leg-rotate 1.5s 2 linear;

//     @media (min-width: 992px) {
//         animation: left-leg-rotate 1.5s 2 linear;
//     }
// }

// .right-leg  {
//     animation: right-leg-rotate 1.5s 2 linear;

//     @media (min-width: 992px) {
//         animation: right-leg-rotate 1.5s 2 linear;
//     }
// }