@import "../variables";
@import "../mixins";

.modal {
  display: none;

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include max_834 {
      padding: 0 15px;
    }

    @include max_374 {
      padding: 0 5px;
    }
  }

  &__content {
    width: 735px;
    background: $text-color;

    padding: 50px 30px 50px 50px;

    display: flex;
    flex-direction: column;
    position: relative;

    @include max_834 {
      width: 100%;
      padding: 20px;
    }

    @include max_374 {
      padding: 15px;
    }
  }

  &__label {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;

    @include max_834 {
      margin-bottom: 20px;
    }
  }

  &__description {
    font-family: $main-font;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 30px;

    @include max_834 {
      margin-bottom: 20px;
    }
  }

  &__btn {
    background-color: $submit;
    border-radius: 5px;
    width: 307px;
    line-height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: $main-font;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    text-align: center;

    color: #000000;

    &:hover {
      cursor: pointer;
      background-color: $submit-hover;
    }

    @include max_834 {
      width: 305px;
    }

    @include max_374 {
      width: 100%;
    }
  }

  &__close {
    position: absolute;
    right: 28px;
    top: 31px;
    width: 36px;
    height: 36px;

    &:hover {
      cursor: pointer;
    }

    &:before, &:after {
      position: absolute;
      left: 20px;
      top: -6px;
      content: ' ';
      height: 36px;
      width: 1px;
      background-color: $black;

      @include max_834 {
        left: 30px;
        top: -17px;
      }
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .logo {
    position: absolute;
    display: flex;
    top: 98px;
    right: 36px;
    width: 187px;
    height: 141px;
    background-image: url('../../img/modal_logo.svg');

    @include max_834 {
      display: none;
    }
  }
}

.scroll {
  &__disable {
    overflow: hidden;
    height: 100vh;
  }
}

.open {
  display: flex !important;
}